---
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Postlist from "@components/postlist.astro";
import Layout from "@layouts/Layout.astro";
import { latestPosts } from "@utils/content";
---

<Layout title="Archive">
  <Container>
    <Pagetitle>
      <Fragment slot="title">Archive</Fragment>
      <Fragment slot="desc">All Posts written.</Fragment>
    </Pagetitle>
    <main>
      <div class="grid gap-10 mt-10 lg:gap-10 md:grid-cols-2 xl:grid-cols-3">
        {latestPosts.map((post) => <Postlist post={post} aspect="square" />)}
      </div>
    </main>
  </Container>
</Layout>
